@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
 font-family: 'Work Sans',sans-serif;
 font-family: 'lato', sans-serif;
 font-family: 'lato', sans-serif;

    }

    .btn-primary{
       
        border-radius: 8px;
        color: #ffff;
        background-color:#ff900e;
        padding: 20px 25px;
        font-size: 1.25rem;
        border: 0;
        cursor: pointer;
        
    }

/* Header style */
header{
    background-color:#FF900E1A;
    padding: 50px 240px;    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title{
     color: #131313;
     font-size: 2.8rem;
     font-weight: 700;
    
}

nav>ul{
display: flex;

}
nav li{
    margin-right: 30px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    
}
nav li a{
    text-decoration: none;
    color: #424242;

}
/* bannercontent */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    padding: 20px;
}
.text-light-gray{
   
    color:#727272;
    padding: 1.5rem 0;
 

}
.banner img{
    width: 100%;
    margin-top: 20px;
}


main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teames style */
.teams-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
}
.teams-content{
    padding-right:70px ;
    padding-left: 70px;
    
}
.team-title{
    font-size:2.8rem ;
    
}
.team-title .quick-list{
color: #727272;
font-weight: 500;
}
.team-title .of-our{
 color: #131313;
 font-weight: 700;

}
.team-title .Features{
color: #ff900e;
font-weight: 700;
}
.facts-card-container{
display: flex;
justify-content:space-around;


}
.facts-card-container .card{
    border: 1px solid #ff900e;
    border-radius: 8px;
    text-align: center;
    padding:  30px ;
    

}

.facts-card-container .card-stats{
 font-size: 2.8rem;
 font-weight:600;
 color:#424242;
 margin-top: 10px;
 margin-bottom: 10px;
}

.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight:600;
    color: #727272;
    margin-top:5px;
}
    







/* media query */
/*  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-right:20px ;
        padding-left: 20px;
        
    }

}



@media screen and (min-width:576px) and(max-width:960px){
    header{
        padding: 50px;
    }
     nav.teams-container{
        flex-direction: column;
    }
    
    
}